<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aaaaaaaaaaaaa</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/estilos.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="assets/css/calendar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<!-- Librerias de highcharts-->
<script src="assets/js/highcharts.src.js"></script>
<script src="assets/js/data.src.js"></script>
<script src="assets/js/exporting.src.js"></script>
<script src="assets/js/accessibility.src.js"></script>
<script src="assets/js/export-data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<body>
    <!--
   Inicio de navbar
   -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">ACSO</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tabla
          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" id="plain">Plano</a></li>
                            <li><a class="dropdown-item" id="inverted">Invertido</a></li>
                            <li><a class="dropdown-item" id="polar">Pastel</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Exportar
          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" id="botonpng">PNG</a></li>
                            <li><a class="dropdown-item" id="botonpdf">PDF</a></li>
                            <li><a class="dropdown-item" id="botoncsv">CSV</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="Lista.html">  Lista de Usuarios
                        </a>


                    </li>

                </ul>

                <form class="d-flex">
                    <!--
          Boton de Login
          -->
                    <a class="navbar-brand">Admin1</a>
                    <button type="button" id="btnCerrar" onclick="window.location.href='index.html'" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Log Out</button>




            </div>
    </nav>
    <!--
      Final de navbar
  -->


    <!--
    Inicio de la Gráfica
  -->

    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <figure class="highcharts-figure">

                    <div id="ad"></div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-outline-dark" id="plain2">Plano</button>
                            <button class="btn btn-outline-dark" id="inverted2">Invertido</button>
                            <button class="btn btn-outline-dark" id="polar2">Pastel</button>
                        </div>
                    </div>


                    <!--
          Inicio de tabla
        -->
                    <div id="tabla">
                        <table class="table table-striped table-hover" id="datatable">
                            <thead>

                                <tr>


                                    <th></th>
                                    <th>a</th>
                                    <th>b</th>
                                    <th>c</th>
                                </tr>
                            </thead>
                            <tbody>



                                <tr>
                                    <th>



                                        <td>
                                            2</td>




                                        <td>
                                            3</td>


                                        <td>
                                            5</td>
                                </tr>




                            </tbody>
                        </table>
                        <!-- 
            Final de la tabla
          -->

                </figure>
                <!-- 
            Botones de exportacion
          -->
                <div class="row">
                    <div class="col text-center mb-3">
                        <button class="btn btn-outline-dark" id="botonpng2">PNG</button>
                        <button class="btn btn-outline-dark" id="botonpdf2">PDF</button>
                        <button class="btn btn-outline-dark" id="botoncsv2">CSV</button>
                    </div>
                </div>

                </div>

                <!-- 
         Filtracion de datos
      -->
                <div class="col ms-5 mt-4">
                    <h3 class="text-center">Filtrar Datos</h3>

                    <div class="card mb-3" style="max-width: 100%;">
                        <select class="form-select" id="cat" aria-label="Default select example">
        <option value="Selec">Seleccione Sucursal</option>
        <option value="Todas">Todas</option>
        <option value="Quito">Quito</option>
        <option value="Cuenca">Cuenca</option>
        <option value="Guayaquil">Guayaquil</option>
      </select>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- 
     Librerias del calendario
  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>

    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</body>
<script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>



<script type="text/javascript" src="assets/js/script.js"></script>

<!-- 
    Inicio de footer 
-->
<footer class="bg-light text-center text-dark">

    <div class="container  p-1 pb-0">




        <!-- Copyright -->
        <div class="text-center p-3">
            © 2021 Copyright:
            <a class="refe" href="#">ACSO</a>
        </div>
        <!-- Copyright -->
</footer>
<!-- 
    Final de footer 
-->

</div>

</html>