<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/estilos.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="assets/css/calendar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>


</head>
<!-- Librerias de highcharts-->

<script src="assets/js/highcharts.src.js"></script>
<script src="assets/js/data.src.js"></script>
<script src="assets/js/exporting.src.js"></script>
<script src="assets/js/accessibility.src.js"></script>
<script src="assets/js/export-data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<body>
    <!--
   Inicio de navbar
   -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">ACSO</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>



                </ul>
                <form class="d-flex">
                    <!--
          Boton de Login
          -->

                    <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="location.href='login.html'" data-bs-whatever="@getbootstrap">Log in</button>


                    <!--
    Boton de Login
   
                    -->
                    <button type="button" class="btn btn-outline-light" onclick="location.href='registro.html'">Sing in</button>

                    <!--

        Final de Login
      -->

            </div>
    </nav>

    <!--
      Final de navbar
  -->


    <!--
    Inicio de la Gráfica
  -->

    <div class="container">
        <div class="row">
            <div class="col-sm-7">

                <!--
          Inicio de tabla
        -->

                <figure class="highcharts-figure">
                    <div id="ad"></div>



                    <table id="datatable">
                        <thead>
                            <tr>
                                <th>Edad (años)</th>
                                <th>Nacimientos</th>
                            </tr>
                        </thead>
                        <tbody id="contenido">

                        </tbody>
                    </table>
                </figure>

                <!-- 
            Final de la tabla
          -->
                <div class="row">
                    <div class="col-lg-12" card_height_100>
                        <div class="col text-center mb-3">
                            <button class="btn btn-danger" id="btnExportar" type="button" onclick="exportPDF()">EXPORTAR PDF</button>
                            <button class="btn btn-secondary" id="btnExportar" type="button" onclick="exportPNG()">EXPORTAR PNG</button>
                            <button class="btn btn-success" id="btnExportar" type="button" onclick="exportEXCEL()">EXPORTAR EXCEL</button>
                        </div>
                    </div>
                </div>
                <div id="container2">

                </div>



            </div>


            <!-- 
         Filtracion de datos
      -->
            <div class="col ms-5 mt-4">

                <h3 class="text-center">Filtrar Datos</h3>

                <div class="card mb-3" style="max-width: 100%;">
                    <select class="form-select" id="cat" aria-label="Default select example">
                <option value="2">Seleccione la Comunidad</option>
               
                <option selected value="2" value>Andalucia</option>
                <option value="3">Aragón</option>
                <option value="4">Asturias, Principado de</option>
                <option value="5">Balears, Illes</option>
                <option value="6">Canarias</option>
                <option value="7">Cantabria</option>
                <option value="8">Castilla y Leon</option>
                <option value="9">Castilla-La Mancha</option>
                <option value="10">Cataluña</option>
                <option value="11">Comunitat Valenciana</option>
                <option value="12">Extremadura</option>
                <option value="13">Galicia</option>
                <option value="14">Madrid, Comunidad de</option>
                <option value="15">Murcia, Region de</option>
                <option value="16">Navarra, Comunidad foral de</option>
                <option value="17">Pais Vasco</option>
                <option value="18">Rioja, La</option>
                <option value="19">Ceuta</option>
                <option value="20">Melilla</option>
                <option value="21">Extranjero</option>
            </select>

                </div>

                <div class="card mb-3" style="max-width: 100%;">
                    <select class="form-select" id="cat1" aria-label="Default select example">
                <option value="15 and 20">Seleccione rango edad madre</option>
                <option selected value="15 and 20">15 a 20</option>
                <option selected value="20 and 25">20 a 25</option>
               
            </select>

                </div>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        Registrate para obtener más filtraciones
                    </div>

                </div>

                <button type="button" class="btn btn-success" onclick="ShowSelected()">Filtrar</button>
            </div>

        </div>

        <!-- 
     Librerias EXPORT
 
        <script src="/node_modules/jspdf-autotable/dist/jspdf.plugin.autotable.min.js"></script> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.22/jspdf.plugin.autotable.min.js"></script>
        <script src="assets/js/html2canvas.min.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>

        <script src="https://code.highcharts.com/modules/exporting.js"></script>


</body>

<script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>


<script type="text/javascript" src="assets/js/index.js"></script>
<script type="text/javascript" src="assets/js/exportar.js"></script>

</div>
<!-- 
    Inicio de footer 
-->
<footer class="bg-light text-center text-dark">






    <!-- Copyright -->
    <div class="text-center p-3">
        © 2021 Copyright:
        <a class="refe" href="#">ACSO</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- 
    Final de footer 
-->



</html>