<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/estilos.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="assets/css/calendar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="index.html">ACSO</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tabla
          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" id="plain">Plano</a></li>
                            <li><a class="dropdown-item" id="inverted">Invertido</a></li>
                            <li><a class="dropdown-item" id="polar">Pastel</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Exportar
          </a>
                        <p> </p>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" id="botonpng">PNG</a></li>
                            <li><a class="dropdown-item" id="botonpdf">PDF</a></li>
                            <li><a class="dropdown-item" id="botoncsv">CSV</a></li>
                        </ul>
                    </li>

                </ul>
    </nav>
    <form class="d-flex" id="formulario">

        <div class="container">
            <h5 class="modal-title text-center" id="exampleModalLabel">Registrar un nuevo Usuario</h5>


            <div class="modal-body">
                <form class="add-todo-form" id="formul" action="/form">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre Completo:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre de Usuario:</label>
                        <input type="text" class="form-control" id="usuario" name="nick">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="cont" name="contraseña">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Repetir Contraseña:</label>
                        <input type="password" class="form-control" id="cont2">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Aceptar terminos y condiciones
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="enviar" type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </div>


    </form>
    <script type="text/javascript" src="assets/js/script2.js"></script>

</body>